locales/
pywikibot-core
wtl-messages/mediawiki
guide/compiled
guide/pt
guide/ca
guide/de
guide/it
guide/fr
guide/sv
guide/uk
guide/es
pt.*
sv.*
ca.*
de.*
fr.*
es.*
it.*
uk.*
*.json
*.mo
/locales/*/.svn/
